.FieldSet {
  border: 0;
  margin: 0 0 20px;
  padding: 0;
}

.FieldSet > label {
  display: flex;
  width: 80px;
}

.FormActions {
  display: flex;
  justify-content: flex-end;
}

.FormActions > .Button {
  margin: 0 0 0 20px;
}
