.TableHead th {
    border-bottom: 1px solid #aaa;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 20px 10px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: bottom;
}

.TableHead th:hover {
    background: #F4F5F7;
}

.TableHead .TableHead--right {
    text-align: right;
}

.TableHead .TableHead--center {
  text-align: center;
}

.TableHead th.is-sorted::after {
  display: inline;
}

.TableHead th.is-sorted.is-ascending::after {
  content: '↓';
}

.TableHead th.is-sorted.is-descending::after {
  content: '↑';
}
